// direct interception
function toFixed(num, place) {
  num = Math.floor(num * Math.pow(10, place)).toFixed(0) / Math.pow(10, place)
  return num.toFixed(place)
}
// limit
function limit(code, length) {
  var codeWord = ''
  if (code) {
    codeWord = code
  }
  if (codeWord.length > length) {
    codeWord = codeWord.substring(0, length) + '...'
  }
  return codeWord
}
// format
function format(date, fmt) {
  date = getDate(date)
  date = getDate(date.toString().replace(getRegExp("-", "g"), "/"));
  date = date === undefined ? getDate() : date;
  date = typeof date == "number" ? getDate(date) : date;
  fmt = fmt || "yyyy-MM-dd HH:mm:ss";
  var obj = {
    y: date.getFullYear(),
    M: date.getMonth() + 1,
    d: date.getDate(),
    q: Math.floor((date.getMonth() + 3) / 3),
    w: date.getDay(),
    H: date.getHours(),
    h: date.getHours() % 12 == 0 ? 12 : date.getHours() % 12,
    m: date.getMinutes(),
    s: date.getSeconds(),
    S: date.getMilliseconds()
  };
  var week = ["天", "一", "二", "三", "四", "五", "六"];
  var objKeys = ['y', "M", "d", "q", "w", "H", "h", "m", "s", "S"];
  for (var i = 0; i < objKeys.length; i++) {
    var key = objKeys[i];
    fmt = fmt.replace(getRegExp(key + "+", "g"), function (m) {
      var val = obj[key] + "";
      if (key == "w") return (m.length > 2 ? "星期" : "周") + week[val];
      var len = val.length;
      for (var j = 0; j < m.length - len; j++)
        val = "0" + val;
      return m.length == 1 ? val : val.substring(val.length - m.length);
    });
  }
  return fmt;
}
module.exports = {
  limit: limit,
  toFixed: toFixed,
  format: format
}